<nav class="fixed bottom-0 left-0 z-50 w-full h-20 bg-black">
    <div class="flex h-full max-w-lg mx-auto justify-between items-center px-4">
        <button type="button" onclick=`location.href="/"` class="flex flex-col items-center justify-center group">
            <svg class="w-8 h-8 text-gray-400 group-hover:text-white transition-colors duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
        </button>
        <button type="button" class="flex flex-col items-center justify-center group">
            <svg class="w-8 h-8 text-gray-400 group-hover:text-white transition-colors duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </button>
        <button type="button" class="flex flex-col items-center justify-center group">
            <svg class="w-8 h-8 text-gray-400 group-hover:text-white transition-colors duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
        </button>
        <button type="button" class="flex flex-col items-center justify-center group">
            <svg class="w-8 h-8 text-gray-400 group-hover:text-white transition-colors duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
        </button>
        <button type="button" onclick=`location.href="/profile"` class="flex flex-col items-center justify-center group">
            <img src="/tobidev.jpeg" alt="Profile" class="w-8 h-8 rounded-full object-cover ring-2 ring-gray-400 group-hover:ring-white transition-all duration-200" />
        </button>
    </div>
</nav>